* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  width: 100%;
}

.about-display, .about-search-bar {
  display: none;
}

.top-nav {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: #24292e;
  padding: 0.8rem 1.3rem;
  font-size: 14px;
  color: #ffffff;
  z-index: 32;
  justify-content: space-between;
}

#show-logo {
  display: none;
}

.navleft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  width: 700px;
  width: 40rem;
}

.hamburger {
  display: none;
}

.navleft > .logo {
  font-size: 2.2rem;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-wrapper > img {
  position: absolute;
  right: 5px;
}

.searchbar {
  outline: none;
  width: 17rem;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 7px;
  border: 1px solid #444d56;
  background-color: transparent;
}

.searchbar::placeholder {
  color: #c8c9cb;
}

.hide-pull {
  display: none;
}

.navlist {
  display: flex;
  list-style: none;
}

.navleft > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.navright {
  display: flex;
  justify-content: space-evenly;
  width: 9rem;
  align-items: center;
}

.navright > .bell {
  font-size: 1.1rem;
  position: relative;
}

.navright .bell::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0.5rem;
  height: 0.6rem;
  width: 0.6rem;
  background-image: linear-gradient(#54a3ff, #006eed);
  border-radius: 50%;
  z-index: 2;
}

.navright .add-icon {
  font-size: 1rem;
  color: #b4b6b7;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.navright .fa-caret-down {
  margin-left: 0.3rem;
}

.navright .profileimg {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.left-section {
  width: 25%;
}

.right-section {
  width: 75%;
}

.bottom-nav-wrapper {
  border-bottom: 1px solid #caced1;
  position: sticky;
  top: 0;
}

.container {
  margin: 0 6rem;
}

.bottom-nav-container {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  background-color: #ffffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.empty-nav-div {
  display: flex;
  align-items: center;
}

.bottom-nav {
  display: flex;
  padding: 0 3rem;
}

.bottom-nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #45494d;
  padding: 1rem 0.5rem;
  margin: 0 2px;
  font-size: 14px;
}

.bottom-nav .active {
  font-weight: 500;
  border-bottom: 2px solid #ee806b;
}

.bottom-nav .nav-svg {
  margin-right: 0.5rem;
}

.bottom-nav a {
  padding: 8px 16px;
}

.hamburger-nav {
  width: 100%;
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
  background-color: #24292e;
  padding: 0.8rem 1.3rem;
  display: none;
}

.hamburger-nav-show {
  display: block;
}

.hamburger-nav .search {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #444d56;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.hamburger-nav .search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #abadaf;
}

.hamburger-nav .links {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #444d56;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hamburger-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.repos {
  display: flex;
}

.repo-number {
  font-size: 12px;
  padding: 2px 6px;
  background-color: #e8eaed;
  border-radius: 10px;
  margin-left: 8px;
  font-weight: 500;
}

.content-wrapper {
  display: flex;
}

.profile {
  padding: 0 1rem;
  width: 25%;
}

.profile-img-container {
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.aside-profile-image {
  border-radius: 50%;
  display: relative;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  position: relative;
  z-index: 50;
}

.aside-profile-image-wrapper {
  position: relative;
}

.smile-icon > i {
  font-size: 18px;
  color: #444d56;
  font-weight: 300;
}

.status {
  width: max-content;
  display: none;
  font-size: 12px;

}

.smile-icon {
  position: absolute;
  top: 75%;
  left: 83%;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  z-index: 50;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.smile-icon:hover > i {
  padding-right: 7px;
}

.smile-icon:hover {
  width: max-content;
  border-radius: 30px;
  padding: 0 10px;
}

.smile-icon:hover .status, .smile-icon:hover i {
  display: block;
  color: #006eed;
  transition: all 0.2s;

}

.stick-img-wrapper {
  align-items: center;
  justify-content: space-between;
}

.stick-img {
  display: none;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.content {
  padding: 0 1rem;
  width: 75%;
}

.content-filter {
  padding: 18px;
  border-bottom: 1px solid #eaecef;
}

.reposearch {
  border-color: #e1e4e8;
  width: 100%;
  padding: 5px 10px;
}

.about-wrapper {
  z-index: 600;
}

.profile-name,
.about {
  padding: 20px 0;
  text-align: left;
  color: 0.24292e;
}

.profile-name > h1 {
  font-size: 1.6rem;
}

.profile-name > p {
  color: #5d656e;
  font-size: 1.3rem;
}

.repo-search-result {
  font-size: 14px;
  padding: 14px 18px;
  border-bottom: 1px solid #eaecef;
  width: fit-content;
}

.hide-bottom-nav {
  display: none;
}

.public-repo-number {
  font-weight: bold;
}

.repo-content-wrapper {
  align-items: center;
  margin-bottom: 3rem;
}

.repo-data-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
}

.repo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e4e8;
}

.repo-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #586069;
}

.repo-data {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-title {
  font-size: 20px;
  color: #0366d6;
  text-decoration: none;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.repo-title:hover,
.footer > a:hover {
  text-decoration: underline;
}

.repo-description {
  width: 75%;
  color: #586069;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0.6rem;
  padding-right: 1.5rem;
}

.star-repo-button {
  height: fit-content;
  color: #24292e;
  border: 1px solid rgb(27 31 35 / 15%);
  padding: 5px 14px;
  border-radius: 5px;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
}

.star-span {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 500;
}

.language-icon {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.repo-info-data {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.repo-info-data > :first-child {
  margin-right: 3px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e1e4e8;
  margin: 0 3rem;
  padding: 2rem 0 3rem 0;
  font-size: 12px;
}

.copyright {
  color: #586069;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright > img {
  width: 1.7rem;
  margin-right: 1.5rem;
}

.foot-links {
  line-height: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.foot-links > a {
  text-decoration: none;
  color: #0366d6;
  padding: 5px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 4rem;
  }
}

@media (max-width: 1011px) {
  .container {
    margin: 0 1rem;
  }

  .hide-pull {
    display: block;
  }

  .show-pull {
    display: none;
  }

  .copyright > img {
    display: none;
  }
}

@media (max-width: 810px) {
  .bottom-nav {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .bottom-nav-container,
  .searchbar,
  .navleft,
  .nav-icon-container,
  .content-filter,
  .repo-search-result,
  .profile-img-container,
  .about-wrapper > .about {
    display: none;
  }

  .about-display, .about-search-bar  {
    display: flex;
    line-height: 30px;
  }

  .about-search-bar {
    color:  #444d56;
    align-items: center;
    position: relative;
  }

  .about-search-bar i {
    position: absolute;
    left: 10px;
  }

  .about-search-bar .search-input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #e1e4e8;
    outline: none;
  }

  .smile-icon {
    display: none;
  }

  .top-nav {
    display: flex;
    margin-bottom: 0;
  }

  #show-logo {
    display: flex;
    font-size: 2.2rem;
  }

  .navright {
    width: fit-content;
  }

  .content-wrapper {
    display: block;
  }

  .profile-img-container {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .profile {
    width: 100%;
  }

  .aside-profile-image-wrapper {
    width: 20%;
    margin-right: 20px;
  }

  .aside-profile-image {
    width: 100%;
  }

  .about {
    padding: 10px 0;
    padding-left: 1rem;
  }

  .hide-bottom-nav {
    display: block;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .repo-data-wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;

    flex-direction: column-reverse;
    line-height: 50px;
  }

  .foot-links {
    width: 100%;
  }

  .foot-links, .copyright {
    overflow: unset;
    align-self: start;
  }
}

@media (max-width: 544px) {
    .container {
      margin: 0;
    }

    .footer {
      border-top: 0;
      flex-direction: column-reverse;
      line-height: 50px;
    }
  }